.close-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  stroke: #fff;

  .circle {
    opacity: 0.1;
  }

  .progress {
    opacity: 0;
    stroke-dasharray: 0, 120;
    transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.02);
  }

  &:hover {
    .progress {
      opacity: 1;
      stroke-dasharray: 90, 120;
    }
  }
  &:active,
  &.clicked {
    .progress {
      stroke-dasharray: 120, 120;
    }
  }
  &.clicked {
    .progress {
      opacity: 1;
    }
  }
}
